- master

queue:
  name: Hosted Ubuntu 1604
  demands: npm

steps:
- task: Npm@1
  displayName: 'npm install'
  inputs:
    verbose: false

- task: Npm@1
  displayName: 'unit tests'
  inputs:
    command: custom
    verbose: false
    customCommand: 'run test:unit'

- task: Docker@1
  displayName: 'Run MongoDB on Docker'
  inputs:
    containerregistrytype: 'Container Registry'
    command: 'Run an image'
    imageName: 'mongo:4.0'
    qualifyImageName: false
    containerName: 'mongo_4_0'
    ports: '27017:27017'
    memoryLimit: 1GB

- task: Npm@1
  displayName: 'integration tests'
  inputs:
    command: custom
    verbose: false
    customCommand: 'run test:integration'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: MongoDbStorage'
  inputs:
    PathtoPublish: lib
    ArtifactName: MongoDbStorage
